@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome MVC Movie Project</h1>
    <p>I have completed a CoreCadmi course, and now I am following the official
        documentation to
        ensure that I cover any remaining topics in ASP.NET Core MVC.</p>
</div>
